@{
    ViewData["Title"] = "Página Inicial";
}


<div class="jumbotron">
    <h1 class="display-4">Sistema de Cadastro de Alunos</h1>
    <p class="lead">Sistema que cadastra alunos.</p>
    <hr class="my-4">
    <p>Clique em "Comece" para obter a melhor experiência com o sistema</p>
    <a class="btn btn-primary btn-lg" role="button" asp-controller="Aluno" asp-action="Adicionar">COMECE</a>
</div>

